
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&family=Quicksand:wght@700&display=swap');


  
.navbar a,
.navbar .nav-link,
.navbar-brand {
  text-decoration: none !important; 
  color: white !important; 
  font-family: 'Poppins', sans-serif; 
  font-weight: 700; 
  font-size: 1.2rem;
}


.navbar a:hover,
.navbar .nav-link:hover,
.navbar-brand:hover {
  text-decoration: none !important;
  color: #ff4747 !important; 
}
